@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.28, 1.13);
}

html {
  overflow-x: hidden;
}

body {
  background-color: #F9FBFF;
}

.main-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-logo {
  width: 30%;
  height: 100%;
  padding: 4em 0 0 10em;
}

.main-img {
  width: 70%;
  height: 100%;
  background-image: url("/img/image 1logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-menu {
  width: 30%;
  background-color: #C7A17A;
  padding: 4em 0 0 5em;
}

.main-menu p {
  margin-top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 70px;
  color: #415167;
}

.main-menu a {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

.main-menu ul {
  margin-top: 100px;
}

.main-menu ul li {
  margin-top: 3em;
  list-style: none;
}

.text-block {
  position: absolute;
  bottom: 10%;
  left: 10em;
}

.text-block p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 70px;
  color: #415167;
}

.text-block p span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 70px;
  background-color: #C7A17A;
  padding: 5px;
  color: #F9F5E8;
}

.three-screen {
  margin-top: 240px;
  background: linear-gradient(to right, #EDF0F5 75%, #ffffff00 25%);
}

.gift {
  transform: translateX(5%);
  padding-top: 86px;
}

.gift h1 {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
}

.gift h2 {
  margin-top: 37px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  text-align: center;
  color: #415167;
}

.gift-descriptioncontainer {
  padding: 52px 0 64px 500px;
}

.gift-description {
  margin-top: 10px;
  box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
  background: #FFFFFF;
  box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
  display: flex;
  height: 450px;
}

.gift-description .gift-cost {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #C7A17A;
}

.gift-description .gift-name {
  width: 443px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #232C38;
}

.gift-description .gift-text {
  width: 453px;
  margin-top: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #151D28;
}

.gift-img {
  position: absolute;
  background-image: url("/img/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 505.05px;
  height: 460px;
  right: 60%;
}

.gift-set {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 125px;
}

.info {
  display: flex;
}

.fact-text {
  margin-left: 12px;
}

.fact-text p {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #415167;
}

.fact-text span {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #415167;
}

.fact {
  width: 500px;
  display: flex;
  align-items: flex-start;
}

.fact:nth-child(2) {
  margin-left: 100px;
}

.info {
  width: 550px;
  margin-top: 32px;
  margin-left: 1em;
}

.gift-btn {
  margin-top: 25px;
  margin-left: 1em;
}

.gift-buy {
  background: #C7A17A;
  border: none;
  border-radius: 19px;
  width: 171px;
  height: 38px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #F9FBFF;
}

.gift-buy:hover {
  background: #F9FBFF;
  color: #C7A17A;
  border: 1px solid #C7A17A;
}

.gift-specific {
  margin-left: 64px;
  width: 206px;
  height: 38px;
  background-color: #fff;
  border: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #415167;
}

.item-active {
  background-color: #fff;
}

.item-second {
  background-color: #edf0f5;
}

.item-three {
  background-color: #f6f8fc;
}

.pluses {
  padding-top: 86px;
  margin-top: 6rem;
}

.pluses-img {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 40px;
  margin-top: 3rem;
  padding: 0 157px 0 157px;
}

.pluses-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pluses-item .pluses-name .pluses-text {
  display: flex;
  margin-top: 6rem;
  justify-content: center;
  align-items: center !important;
}

.pluses h2 {
  margin-top: 37px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  text-align: center;
  color: #415167;
}

.pluses h1 {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  margin-top: 15px;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
}

.pluses-name {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #232C38;
  text-align: center;
  justify-content: space-around;
  margin-top: 3rem;
}

.pluses-text {
  margin-top: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.four-screen h1 {
  padding-top: 94px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  text-align: center;
  color: #415167;
}

.four-screen h2 {
  text-align: center;
  margin-top: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  /* identical to box height, or 113% */
  color: #415167;
}

.coffee-container {
  display: flex;
  align-items: center;
}

.coffee-item {
  margin-top: 58px;
  margin-bottom: 50px;
  width: 360px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
}

.coffe-cost {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #C7A17A;
}

.coffe-cost span {
  font-family: Nunito;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: line-through;
  text-align: center;
  color: #415167;
  margin-left: 10px;
}

.coffee-item-container {
  padding: 42px 42px;
  padding-bottom: 0px;
}

.coffee-tittle {
  margin-top: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #232C38;
}

.coffee-description {
  margin-top: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  height: 50px;
  line-height: 19px;
  display: flex;
  align-items: flex-end;
  color: #151D28;
}

.coffee-buy {
  margin-top: 37px;
  width: 276px;
  height: 32px;
  background: #C7A17A;
  border: none;
  border-radius: 19px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #F9FBFF;
  margin-bottom: 36px;
}

.coffee-buy:hover {
  background-color: #fff;
  color: #C7A17A;
  border: 1px solid #C7A17A;
}

.owl-item {
  opacity: 0.9 !important;
}

.active {
  opacity: 1 !important;
}

.four-screen {
  background: linear-gradient(to right, #FFFFFF 72%, #415167 3%) !important;
}

.footer {
  margin-top: 102px;
  width: 100%;
  background: #151D28;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 157px 0 157px;
  padding-top: 40px;
}

.footer-under {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 157px 0 157px;
  padding-top: 40px;
}

.footer-info {
  display: block;
}

.footer-info h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: #ffffff;
}

.footer-info .footer-list {
  margin-left: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.footer-info .footer-list a:hover {
  text-decoration: underline;
}

.footer-info .footer-list a, .footer-info .footer-list span {
  margin-top: .5em;
  font-family: Nunito;
  font-style: normal;
  font-size: 16px;
  color: #F9FBFF;
  text-decoration: none;
}

.footer-info .footer-list span a {
  text-decoration: underline;
}

.underline {
  width: 100%;
  height: 0px;
  border: 1px solid #ffffff80;
}

.social {
  margin-top: 10px;
}

.social img {
  max-height: 30px;
}

.copy {
  font-family: Nunito;
  font-style: normal;
  font-size: 16px;
  color: #ffffff80;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
}
/*# sourceMappingURL=main.css.map */